## # Introduction
<p><img src="https://assets.datacamp.com/production/project_981/img/lego_unsplash.jpg" alt="A picture of Lego characters!"></p>
<h3 id="letslookatlegosets">Let's look at Lego sets!</h3>
<p>Lego is a household name across the world, supported by a diverse toy line, hit movies, and a series of successful video games. In this project, we are going to explore a key development in the history of Lego: the introduction of licensed sets such as Star Wars, Super Heroes, and Harry Potter.</p>
<p>It may not be widely known, but Lego has had its share of ups and downs since its inception in the early 20th century. This includes a particularly rough period in the late 90s. As described in <a href="https://www.businessinsider.com/how-lego-made-a-huge-turnaround-2014-2?r=US&IR=T">this article</a>, Lego was only able to survive due to a successful internal brand (Bionicle) and the introduction of its first licensed series: Star Wars. In the instructions panel are the two questions you will need to answer to complete this project.</p>
<p>Before diving into our analysis though, let's become familiar with the two datasets that will help you with this project:<br><br></p>
<div style="background-color: #ebf4f7; color: #595959; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6;">
    <div style="font-size:20px"><b>datasets/lego_sets.csv</b></div>
<ul>
    <li><b>set_num:</b> A code that is unique to each set in the dataset. <b><i>This column is critical, and a missing value indicates the set is a duplicate or invalid!</i></b></li>
    <li><b>set_name:</b> A name for every set in the dataset (note that this can be the same for different sets).</li>
    <li><b>year:</b> The date the set was released.</li>
    <li><b>num_parts:</b> The number of parts contained in the set.<b><i> This column is not central to our analyses, so missing values are acceptable.</i></b></li>
        <li><b>theme_name:</b> The name of the sub-theme of the set.</li>
    <li><b>parent_theme:</b> The name of the parent theme the set belongs to. Matches the `name` column of the `parent_themes` csv file.</li>
</ul>

<div style="font-size:20px"><b>datasets/parent_themes.csv</b></div>
<ul>
    <li><b>id:</b> A code that is unique to every theme.</li>
    <li><b>name:</b> The name of the parent theme.</li>
    <li><b>is_licensed:</b> A Boolean column specifying whether the theme is a licensed theme.</li>
</ul>
    </div>
<p>From here on out, it will be your task to explore and manipulate the existing data until you are able to answer the two questions described in the instructions panel. Feel free to add as many cells as necessary. Finally, remember that you are only tested on your answer, not on the methods you use to arrive at the answer!</p>
<p><em><strong>Note:</strong> If you haven't completed a DataCamp project before you should check out the <a href="https://projects.datacamp.com/projects/33">Intro to Projects</a> first to learn about the interface. In this project, you also need to know your way around <code>pandas</code> DataFrames and it's recommended that you take a look at the course <a href="https://www.datacamp.com/courses/data-manipulation-with-pandas">Data Manipulation with pandas</a>.</em></p>

In [93]:
# Use this cell to begin your analyses, and add as many cells as you would like!
import pandas as pd

df = pd.read_csv('./datasets/lego_sets.csv')
parent_theme = pd.read_csv('./datasets/parent_themes.csv')
df.head()

,set_num,name,year,num_parts,theme_name,parent_theme
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space

### Clean up the data!

##### Drop rows of NaN

In [94]:
df = df.dropna(subset=["set_num"])

### Question 1: What percantage of all licensed sets ever released were Star Wars themed?

##### Merging two DataFrames into one

In [95]:
merged_df = pd.merge(df, parent_theme, left_on="parent_theme", right_on="name")
merged_df.drop(columns = "name_y", inplace = True)
merged_df.rename(columns = {'name_x':'name'}, inplace = True)
merged_df.head()

,set_num,name,year,num_parts,theme_name,parent_theme,id,is_licensed
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland,411,False
1,00-2,Weetabix Promotional House 1,1976,NaN,Building,Legoland,411,False
2,00-3,Weetabix Promotional House 2,1976,NaN,Building,Legoland,411,False
3,00-4,Weetabix Promotional Windmill,1976,126.0,Building,Legoland,411,False
4,00-7,Weetabix Promotional Lego Village,1976,NaN,Building,Legoland,411,False

#### Group by Licensed & Star Wars

In [96]:
licensed = merged_df[merged_df["is_licensed"]]
star_wars = licensed[licensed["parent_theme"] == "Star Wars"]

#### Find the percentage

In [97]:
the_force = int(len(star_wars)/len(licensed)*100)
the_force

51

### Question 2: In which year was Star Wars not the most popular licensed theme (in terms of number of sets released that year)

In [92]:
licensed_sum = licensed.groupby(['year', 'parent_theme']).sum().reset_index()
licensed_max = licensed_sum.sort_values('is_licensed', ascending = False).drop_duplicates(['year'])
licensed_max.sort_values('year', ascending = True)

,year,parent_theme,set_num,name,num_parts,theme_name,id,is_licensed
0,1999,Star Wars,7101-17110-17111-17121-17128-17130-17131-17140...,Lightsaber DuelLandspeederDroid FighterNaboo S...,1384.0,Star Wars Episode 1Star Wars Episode 4/5/6Star...,2054,13
2,2000,Star Wars,3340-13341-13342-13343-14151270-17104-17115-17...,Star Wars #1 - Sith Minifig PackStar Wars #2 -...,2580.0,Star Wars Episode 1Star Wars Episode 4/5/6Star...,4108,26
4,2001,Star Wars,10018-110019-165028-165030-165034-17106-17126-...,Darth MaulRebel Blockade Runner - UCSStar Wars...,2949.0,Star WarsStar Wars Episode 4/5/6Star Wars Epis...,2212,14
6,2002,Star Wars,10026-110030-14195641-165106-165145-165153-171...,Naboo Starfighter - UCSImperial Star Destroyer...,4735.0,Star Wars Episode 1Star Wars Episode 4/5/6Star...,4424,28
9,2003,Star Wars,10123-110129-13219-14207901-14475-14476-14477-...,Cloud CityRebel Snowspeeder - UCSTIE Fighter -...,6660.0,Star Wars Episode 4/5/6Star Wars Episode 4/5/6...,5056,32
12,2004,Star Wars,10131-110134-1445062-14478-24483-24492-14493-1...,TIE Fighter CollectionY-wing Attack Starfighte...,1659.0,Star Wars Episode 4/5/6Star Wars Episode 4/5/6...,3160,20
16,2005,Star Wars,10143-110144-165771-165844-165845-16965-26966-...,Death Star IISandcrawlerEpisode III Collectors...,4730.0,Star Wars Episode 4/5/6Star Wars Episode 4/5/6...,4424,28
20,2006,Star Wars,10174-110175-16205-16206-16207-16208-16209-162...,Imperial AT-ST - UCSVader's TIE Advanced - UCS...,2769.0,Star Wars Episode 4/5/6Star Wars Episode 4/5/6...,1738,11
24,2007,Star Wars,10178-110179-166221-17654-17655-17656-17657-17...,Motorized Walking AT-ATMillennium Falcon - UCS...,11361.0,Star Wars Episode 4/5/6Star Wars Episode 4/5/6...,2528,16
28,2008,Star Wars,10186-110188-120006-17667-17668-17669-17669-27...,General GrievousDeath StarClone Turbo Tank - M...,6865.0,Star Wars Episode 3Star Wars Episode 4/5/6Star...,3634,23
32,2009,Star Wars,10195-110198-120007-120009-120010-12853590-130...,Republic Dropship with AT-OTTantive IVRepublic...,3953.0,Star Wars Clone WarsStar Wars Episode 4/5/6Sta...,6162,39
36,2010,Star Wars,10212-110215-120016-120018-12853835-130050-130...,Imperial Shuttle - UCSObi-Wan's Jedi Starfight...,6003.0,Star Wars Episode 4/5/6Star Wars Episode 2Star...,4740,30
42,2011,Star Wars,10221-120019-120021-12856197-130052-130053-130...,Super Star DestroyerSlave IBounty Hunter Gunsh...,3451.0,Star Wars Episode 4/5/6Star Wars Episode 4/5/6...,5056,32
47,2012,Star Wars,10225-110227-130056-130057-130058-130059-15000...,R2-D2B-wing StarfighterStar DestroyerAnakin's ...,6769.0,Ultimate Collector SeriesStar Wars Episode 4/5...,6794,43
52,2013,Star Wars,10236-110240-130240-130241-130242-130243-15001...,Ewok VillageRed Five X-Wing StarfighterZ-95 He...,6159.0,Star Wars Episode 4/5/6Star Wars Episode 4/5/6...,5530,35
59,2014,Star Wars,30244-130246-130247-15002122-15002123-166479-1...,Anakin's Jedi IntercepterImperial ShuttleARC-1...,8293.0,MiniStar WarsStar WarsMinifig PackStar WarsSta...,7110,45
67,2015,Star Wars,30272-130274-130275-130276-130278-15002938-150...,A-Wing StarfighterAT-DPTIE Advanced PrototypeF...,11410.0,MiniMiniMiniStar WarsMiniStar WarsStar Wars Re...,9164,58
76,2016,Star Wars,11912-130277-130279-130602-130605-15004406-150...,LEGO Star Wars: Build Your Own AdventureFirst ...,6934.0,Star WarsStar Wars Episode 7Star Wars Episode ...,9638,61
82,2017,Super Heroes,211701-130449-130521-130523-130524-130546-1306...,BatmanThe MilanoThe Mini BatmobileThe Joker Ba...,13123.0,BatmanMarvelBatmanBatmanBatmanSuper HeroesBatm...,34704,72